.mySwiper {
  margin: 0 auto;
  width: 565px;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 40px;
}
